@import './styles/theme.less';

.spectrograph {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;

  height: 10px;
  width: 100%;
}

.bar {
  flex-basis: 10px;
  height: 100%;
  &::before {
    content: '';
  }
}

.bar + .bar {
  border-left: 1px solid transparent;
}
