// cSpell:ignore Csvg Cpath

@import './styles/theme.less';
@import './styles/mixins.less';

.chart {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
  padding: 0 10px;

  // Add shadow to the top and bottom when there is an overflow to indicate to the user that they should scroll
  background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, 0)),
    linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0)) 0% 100%,
    radial-gradient(farthest-side at 50% 0%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0% 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 100% 100px, 100% 100px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
  background-color: @backgrounds-white;
  border-radius: @borders-radius;
}

.title {
  .ellipsize();
  font-size: @text-size-xs;
  font-weight: @bold;
  text-align: left;
  color: @text-dark;
  margin-bottom: @space-3;
  margin-top: 5px; // Try to match the extra whitespace in the chart Title that UPlot based charts have.
}

.empty-msg {
  position: absolute;
  top: 50%;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
  font-family: @mono-font-family;
  font-size: 11px;
  text-align: center;
}

// Triple the className to give more specificity so it's harder for the sites
// elements is embedded in to override the table styles.
.table.table.table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-family: @mono-font-family;
  font-size: 11px;
  line-height: 1.5;

  td {
    padding: 0;
    vertical-align: middle;

    // borders
    border-top: 1px solid @borders-default;
    border-bottom: 1px solid @borders-default;

    &:not(:first-child) {
      border-left: 1px solid @borders-default;
    }
  }

  th {
    padding: @space-1 @space-2;
    font-weight: @medium;
  }

  tr:hover {
    td {
      background-color: @backgrounds-blue;

      .key:after,
      .group:after {
        right: 50px; // Leave room for copy button
      }
    }

    .actions {
      visibility: visible;
    }
  }
}

.count {
  position: relative;
  height: 100%;
}

.value {
  position: relative;
  z-index: 1; // Place above bar
}

.bar {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;

  &::before {
    content: '';
  }
}

.value {
  padding: @space-1 @space-2;
}

.group-cell.group-cell.group-cell.group-cell {
  padding: @space-2;
}

// Group rows after the first one have a wide top border
tr:not(:first-child) .group-cell.group-cell.group-cell {
  border-top: 4px solid @borders-muted;
}

.key-cell.key-cell.key-cell.key-cell {
  padding: 0 @space-2;
}

.group {
  font-weight: @bold;
}

// Modified from ColorTableRow.less to work here with different font-size and spacing
// Hack to ellipsize column that would otherwise wrap
// https://stackoverflow.com/a/44452722/346259
.group,
.key,
.field {
  max-height: 18px;
  overflow: hidden;
  position: relative;
  color: transparent;

  &:after {
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: @text-default;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

// wrapper so we can position the copy button
.cell-wrapper {
  position: relative;
}

.actions {
  visibility: hidden;
  position: absolute;
  // Center the button in the row
  right: 2px;
  top: 0px;
  transition-duration: 0s; // So that the button isn't fading out with the text showing beneath it
}

.actions.actions.actions {
  button,
  a {
    //////////////////////////////////////////////////////////
    // `Button` styles from `axiom` proper
    // (grouped by class in `axiom` proper)
    margin: 0 0 0 @space-1; // left margin added to space out actions

    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    // transition: all 200ms linear;
    vertical-align: middle;

    font-size: 12px;
    min-height: 18px;
    padding: 2px 6px;
    text-transform: uppercase;
    color: @blue-base;
    background: transparent;
    border: 1px solid transparent;

    &:hover {
      background: #c5ddf3;
      border: 1px solid #c5ddf3;
      text-decoration: none;
    }
  }
}

.copy.copy {
  &:before {
    content: '';
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M502.6 70.63l-61.25-61.25C435.4 3.371 427.2 0 418.7 0H255.1c-35.35 0-64 28.66-64 64l.0195 256C192 355.4 220.7 384 256 384h192c35.2 0 64-28.8 64-64V93.25C512 84.77 508.6 76.63 502.6 70.63zM464 320c0 8.836-7.164 16-16 16H255.1c-8.838 0-16-7.164-16-16L239.1 64.13c0-8.836 7.164-16 16-16h128L384 96c0 17.67 14.33 32 32 32h47.1V320zM272 448c0 8.836-7.164 16-16 16H63.1c-8.838 0-16-7.164-16-16L47.98 192.1c0-8.836 7.164-16 16-16H160V128H63.99c-35.35 0-64 28.65-64 64l.0098 256C.002 483.3 28.66 512 64 512h192c35.2 0 64-28.8 64-64v-32h-47.1L272 448z' fill='%231070CA'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    float: left;
  }
}

.against-header {
  &:before {
    content: '';
    display: block;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.5 15.97c.016 8.54-6.949 15.524-15.489 15.53-4 .003-7.648-1.51-10.4-3.996a.75.75 0 01-.027-1.088l1.06-1.06a.753.753 0 011.034-.025A12.456 12.456 0 0016 28.5c6.91 0 12.5-5.592 12.5-12.5 0-6.91-5.592-12.5-12.5-12.5-3.47 0-6.607 1.41-8.87 3.69l3.068 3.026a.75.75 0 01-.527 1.284h-8.02a.75.75 0 01-.75-.75V2.84a.75.75 0 011.276-.534l2.819 2.78A15.45 15.45 0 0116 .5c8.55 0 15.484 6.924 15.5 15.47zm-10.441 5.637l.882-1.213a.75.75 0 00-.165-1.048l-4.276-3.11V7.25a.75.75 0 00-.75-.75h-1.5a.75.75 0 00-.75.75v10.514l5.511 4.008a.75.75 0 001.048-.165z' fill='%2366788A'/%3E%3C/svg%3E")
      no-repeat;
    width: 12px;
    height: 12px;
    float: left;
    margin-top: 2px;
    margin-right: 6px;
  }
}

.against-cell {
  background-color: @backgrounds-default;
}
